<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- load bootstrap css -->
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<!-- load fontawesome -->
<link rel="stylesheet" href="/stylesheets/style.css">